<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'none'" />
    <link rel="stylesheet" type="text/css" href="{{ feed.config.get_assets_uri() }}/style.css" />
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block menu %}
    <div id="header">
    {% if feed.root %}<a href="{{ feed.root.get_link_self_href_html() }}">{{ feed.config.library_title }}</a>{% endif %}
    {% if feed.parent %}<a href="{{ feed.parent.get_link_self_href_html() }}">/../</a>{% endif %}
    {{ self.title() }}
{% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">&orarr; {{ feed.updated | replace('T', ' ') }}</div>
</body>
</html>
