body {
    font-size: 1.8em;
    font-family: "sans";
}

#content {
  padding: 1em;
}

#header {
  padding: 0.5em;
  background-color: #f8f8fb;
  border-bottom: 1px solid darkgrey;
}

#footer {
  padding: 0.5em;
  font-size: 0.6em;
  background-color: #f8f8fb;
  border-top: 1px solid darkgrey;
}

td {
    padding: 0.5em;
    vertical-align: top;
}

img.cover {
    width: 9em;
}

details {
  padding: 0.5em 0.5em 0;
}

summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}
